PVPORCUPINE_KEY= "PASTE YOUR PVPORCUPINE TOKEN KEY HERE"
KW_PATH= "PATH FOR PRETRAINED HOT WORK FILE"
WATER_API_KEY = "PATSE YOUR WATER API KEY HERE"
WEB_URL = "PASTE DASHBOARD URL HERE"
DATABASE_SERVER = "PASTE YOUR DATABASE SERVER URL HERE"
CAMERA_API = "PASTE YOUR CAMERA API HERE"
FEEDER_API = "PASTE YOUR FISH FEEDER API HERE"